
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/CircleImage.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("3D Virtual Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="navbar navbar-inverse navbar-fixed-top">
                            <div class="container">
                                <div class="navbar-header pull-left">
                                    @Html.ActionLink("3D Virtual Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                </div>
                                <div class="navbar-header pull-right">
                                    
                                    <a class="btn navbar-btn pull-right" style="margin-right: 5px;" href="#" data-toggle="dropdown"><img src="~/images/Screenshot (1).png" class="roundedcorners" width="30" height="30" /><b class="caret"></b></a>
                                    <ul class="dropdown-menu realign">

                                        <li>@Html.ActionLink("Manage Account", "manageAccount", "Account", new { Id = Session["id"] }, null)</li>
                                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                                    </ul>
                                    <button class="navbar-toggle" type="button" data-target="#MainMenu" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-th-list"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clear-collapse" id="MainMenu">
                                    <ul class="nav navbar-nav">
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    }
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
