@model ECommerce.Models.Offer


@{
    ViewBag.Title = "manageOffer";
}
<div style="height:80px" />
<h2 style="margin-top:40px; margin-bottom:40px">Manage Offer</h2>


<link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.datetimepicker.full.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });
    });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script>
    var jqOld = jQuery.noConflict();
    jqOld(function () {
        jqOld('.datetimepicker1').datetimepicker();
    });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

<p>
    <br />
</p>
@using (Html.BeginForm("manageOffer", "Admin", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Select All") <input type="checkbox" id="checkAll" />
            </th>
            <th></th>
        </tr>


        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <tr>
                <td>

                    @Html.HiddenFor(model => Model.Items[i].Quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Items[i].Name)
                    @Html.HiddenFor(model => Model.Items[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Items[i].Price)$
                    @Html.HiddenFor(model => Model.Items[i].Price)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.Items[i].SelectedItem, new { @class = "checkBox" })
                    @Html.HiddenFor(model => Model.Items[i].Item_Id)
                    @Html.HiddenFor(model => Model.Items[i].DefualtPrice)
                    @Html.HiddenFor(model => Model.Items[i].Description)

                </td>


            </tr>
        }

    </table>

    <hr />

    <div class="form-horizontal">
        <h4>Make an Offer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Start Date : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Offer_id)
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datetimepicker1" }, required = "required" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("End Date : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datetimepicker1" }, required = "required" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })

            </div>

        </div>
        <script>
            var jqOld = jQuery.noConflict();
            jqOld(document).ready(function () {
                jqOld("#datetime").d();
            });
        </script>
        <div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "control-label col-md-2" }, required = "required" })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                <p style="margin-top:7px;">&nbsp;&nbsp;   (Percentage)</p>
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("View Offers", "viewOffers")
</div>
