@model IEnumerable<ECommerce.Models.Order>

@{
    ViewBag.Title = "view Orders";
}

<h2 style="margin-top:40px; margin-bottom:40px">View Orders</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date ")
        </th>
        <th>
            @Html.DisplayName("Total ")
        </th>
        <th>
            @Html.DisplayName("Items ")
        </th>
        <th>
            @Html.DisplayName("Status ")
        </th>
        <th></th>
    </tr>

    @foreach (var order in Model)
    {
       // @{
            var a = String.Join(",", order.ItemsName);
      //  }
        <tr>
            <td>
                @Html.DisplayFor(modelOrder => order.Bill.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.Bill.Value)$
            </td>
            <td>

                @Html.DisplayFor(modelOrder => a)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.Bill.Status)
            </td>


        </tr>

    }

</table>
